:root {
    --primary-color: rgb(96, 5, 106);
    --primary-color-light: rgb(96, 5, 106, 0.8);
    --primary-color-lighter: rgb(96, 5, 106, 0.5);
    --primary-color-lightest: rgb(96, 5, 106, 0.2);

    --secondary-color: rgb(203, 144, 170);
    --secondary-color-light: rgb(203, 144, 170, 0.8);
    --tertiary-color: rgb(45, 47, 52);
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 50px);
    max-width: 95vw;
    /* overflow: hidden; */
}

#signin,
#signup {
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 4px var(--primary-color-lightest);
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    animation: fadeIn 0.3s ease-in-out;

}



.auth_toggler {
    cursor: pointer;
    color: var(--primary-color); /* Use your preferred color */
    text-decoration: underline;
}

.auth_toggler:hover {
    color: var(--primary-color-light); /* Change color on hover */
}



h2 {
    color: var(--primary-color);
    width: 100%;
    padding: 8px 0;
    border-bottom: 2px solid var(--secondary-color);
}

#signin form,
#signup form {
    /* flex: 2; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}


.form-field {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-field label {
    font-size: 0.8rem;
}

.form-fields-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7px;
    align-items: center;
    justify-content: center;
}


.auth-textual-input {
    width: 100%;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    padding: 10px;
}

.auth-button-input {
    padding: 9px 10px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-color-light);
    color: white;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}


.auth-button-input:hover {
    background-color: var(--primary-color);
}

.auth-textual-input:active, .auth-textual-input:focus {  
    outline: none;
}  

.auth_message {
    font-size: 0.8rem;
    text-align: center; 
    text-decoration: underline;
}
