/* montserrat font import */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

:root {
    --primary-color: rgb(106, 91, 205);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
    padding: 5px 10%;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;

    /* bottom shadow */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}

header>* {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

}


nav {
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: black;
}

nav li {
    list-style: none;
}

nav li:hover {
    color: var(--primary-color);
    transform: scale(1.1);
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 10px;
}

nav button#nav-collapse {
    display: none;
}


@media screen and (max-width: 768px) {
    nav button#nav-collapse {
        display: block;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 38px;
        right: calc(10% - 20px);
        /* 10% is header padding, 10px is ul padding */
        background-color: white;
        z-index: 99;
        padding: 15px 20px;
        gap: 20px;
        border-radius: 30px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    nav ul:not(.collapsed) {
        display: flex;
        animation-name: slide-down;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
    }

    nav ul.collapsed {
        animation-name: slide-up;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        height: auto;
        transform: translateY(0);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(0);
        opacity: 1;
        display: flex;
    }

    90% {
        height: 0;
        transform: translateY(-10px);
        opacity: 0;
    }
    
    100% {
        display: none;
    }
}

search {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;

    margin: 0 5%;
    padding: 5px 10px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 20px;
    min-width: 20%;
    max-width: 70%;
}

search>input {
    border: none;
    outline: none;
    width: 100%;
}