{% extends "network/layout.html" %}

{% block body %}

<div id="messages">
</div>

<div id="notifications">
</div>


{% if user.is_authenticated %}
<div id="new-post">
    <h3> New Post </h3>
    <form id="new-post-form">
        {% csrf_token %}
        <div class="form-group">
            <textarea class="form-control" id="new-post-content" rows="2" required maxlength="500"></textarea>
        </div>
        <div class="form-group row justify-content-end">
            <button type="submit" class="btn">Post</button>
        </div>
    </form>
</div>
{% endif %}

<h1> All Posts </h1>
<div id="posts">
</div>

{% endblock %}