{% extends "network/layout.html" %}

{% block body %}

{% if user.is_authenticated %}
<div id="new-post">
    <h3> New Post </h3>
    <form>
        {% csrf_token %}
        <div class="form-group">
            <textarea class="form-control" id="post_content" rows="2" required></textarea>
        </div>
        <div class="form-group row justify-content-end">
            <button type="submit" class="btn btn-primary">Post</button>
        </div>
    </form>
</div>
{% endif %}

<h1> All Posts </h1>

<div class="posts">

    {% for i in "1234567" %}

    <div class="post">

        <div class="post-header">

            <div class="post-info">
                On
                <div class="post-timestamp">
                    December 2{{i}}, 2020, {{i}}:00 pm
                </div>
                <div class="post-username">
                    SA0
                </div>
                said:
            </div>

            <div class="post-likes">
                <!-- like heart -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                </svg>
                <!-- likes count -->
                {{ i }}
            </div>
        </div>

        <div class="post-body">
            <div class="post-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
                asdfasdfa
            </div>
            <div class="post-edit">
                <a href="#">Edit</a>
            </div>
        </div>
        

    </div>  <!-- end post -->

    {% endfor %}


</div>

    {% endblock %}