{% extends "auctions/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h2>
        {{ title }}
    </h2>

    <div class="flexible_grid p-20">
    {% for listing in listings %}
            <a href="{% url 'auctions:listing' listing.id %}">
            <div class="listing">
                <div class="listing-text">
                    <h4> {{ listing.title }} </h4>
                    <p> {{ listing.description | truncatechars:100 }} </p>
                    {% if not listing.active %}
                        <p> <span class="badge badge-danger">Closed</span> </p>
                    {% else %}
                        <p> <b> Current Price: </b> PKR {{ listing.current_price|floatformat:2 }} </p>
                    {% endif %}
                </div>
                <div class="listing-img listing-img-sm">
                    {% if listing.image_url %}
                        <img src="{{ listing.image_url }}" alt="listing image">
                    {% else %}
                        <p>No image! </p>
                    {% endif %}
                </div>
            </div>
            </a>
    {% empty %}
        <p> No listing in {{ title }} </p>
    {% endfor %}
    </div>
{% endblock %}