{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'tehreer/styles/main.css' %}">
</head>

<body>
    <div class="row">
        <aside>
            {% for i in "123412341234123412341234" %}
            <div>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi sunt animi a cupiditate, ratione at vel
                recusandae aliquid voluptas dolore. Velit distinctio similique nostrum, dolorem architecto fugit magnam
                amet libero!
            </div>
            {% endfor %}

        </aside>

        <main>
            {% for i in "12123412341234123434" %}
            <div>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi sunt animi a cupiditate, ratione at vel
                recusandae aliquid voluptas dolore. Velit distinctio similique nostrum, dolorem architecto fugit magnam
                amet libero!
            </div>
            {% endfor %}
        </main>

        <aside>
            {% for i in "1212341234123434" %}
            <div>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi sunt animi a cupiditate, ratione at vel
                recusandae aliquid voluptas dolore. Velit distinctio similique nostrum, dolorem architecto fugit magnam
                amet libero!
            </div>
            {% endfor %}

        </aside>


    </div>
</body>

</html>