{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- custom styles -->
    <link rel="stylesheet" href="{% static 'tehreer/styles/main.css' %}">

    <!-- scripts -->
    <script type="module" src="{% static 'tehreer/scripts/main.js' %}"></script>

    <title>Tehreer</title>


</head>

<body>

    <header>
        <a id="header-title" href="{% url 'tehreer:index' %}">
            Tehreer
        </a>

        <div>
            <search>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M4.1 11.06a6.95 6.95 0 1 1 13.9 0 6.95 6.95 0 0 1-13.9 0zm6.94-8.05a8.05 8.05 0 1 0 5.13 14.26l3.75 3.75a.56.56 0 1 0 .8-.79l-3.74-3.73A8.05 8.05 0 0 0 11.04 3v.01z"
                        fill="currentColor"></path>
                </svg>
                <input type="text" placeholder="Search">
            </search>
        </div>

        <nav>
            <button id="nav-collapse" aria-label="Menu">
                <svg width="30" height="30" viewBox="0 0 24 24" fill="none" aria-label="Menu">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M3 6.5a.5.5 0 0 1 .5-.5h17a.5.5 0 0 1 0 1h-17a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h17a.5.5 0 0 1 0 1h-17a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h17a.5.5 0 0 1 0 1h-17a.5.5 0 0 1-.5-.5z"
                        fill="currentColor"></path>
                </svg>
            </button>

            <ul class="collapsed">
                <!-- New Article Page -->
                <li>
                    <a href="#">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="Write">
                            <path
                                d="M14 4a.5.5 0 0 0 0-1v1zm7 6a.5.5 0 0 0-1 0h1zm-7-7H4v1h10V3zM3 4v16h1V4H3zm1 17h16v-1H4v1zm17-1V10h-1v10h1zm-1 1a1 1 0 0 0 1-1h-1v1zM3 20a1 1 0 0 0 1 1v-1H3zM4 3a1 1 0 0 0-1 1h1V3z"
                                fill="currentColor"></path>
                            <path
                                d="M17.5 4.5l-8.46 8.46a.25.25 0 0 0-.06.1l-.82 2.47c-.07.2.12.38.31.31l2.47-.82a.25.25 0 0 0 .1-.06L19.5 6.5m-2-2l2.32-2.32c.1-.1.26-.1.36 0l1.64 1.64c.1.1.1.26 0 .36L19.5 6.5m-2-2l2 2"
                                stroke="currentColor"></path>
                        </svg>
                        <span> Write </span>
                    </a>
                </li>

                <!-- Notifications Page -->
                <li>
                    <a href="#">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="Notifications">
                            <path d="M15 18.5a3 3 0 1 1-6 0" stroke="currentColor" stroke-linecap="round"></path>
                            <path
                                d="M5.5 10.53V9a6.5 6.5 0 0 1 13 0v1.53c0 1.42.56 2.78 1.57 3.79l.03.03c.26.26.4.6.4.97v2.93c0 .14-.11.25-.25.25H3.75a.25.25 0 0 1-.25-.25v-2.93c0-.37.14-.71.4-.97l.03-.03c1-1 1.57-2.37 1.57-3.79z"
                                stroke="currentColor" stroke-linejoin="round">
                            </path>
                        </svg>
                        <span> Notifications </span>
                    </a>
                </li>

                <!-- Profile Page -->
                <li>
                    <a href="#">
                        <div id="nav-profile">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="Profile">
                                <circle cx="12" cy="7" r="4.5" stroke="currentColor"></circle>
                                <path d="M3.5 21.5v-4.34C3.5 15.4 7.3 14 12 14s8.5 1.41 8.5 3.16v4.34"
                                    stroke="currentColor" stroke-linecap="round"></path>
                            </svg>
                        </div>
                        <span> Profile </span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>

        <aside id="article-left">
            <div id="article-title">
                <h1> GitHub Copilot Labs — Get Explanations and Translate Code </h1>
            </div>

            <div id="article-date"> January 10 2024 </div>
            <div id="article-topics">
                <a href="#">Programming</a>
                <a href="#">Github</a>
                <a href="#">AI</a>
            </div>

            <div id="article-author">
                Written by
                <div id="#author-info">
                    <div id="author-name">
                        <a href="#">Sakib Sami</a>
                    </div>
                    <div id="author-image">
                        <img src="https://miro.medium.com/v2/resize:fill:88:88/1*ZTU6cfaLOh0J3DpCALyYNA.jpeg">
                    </div>
                </div>
            </div>
        </aside>


        <article>
            <p><img src="https://miro.medium.com/v2/resize:fit:467/1*xqUjF1sijiXlmFK5GNsBzg.png"></p>
            <p>If you're a programmer, you most probably know about or have heard of GitHub Copilot, the incredibly
                powerful AI autocomplete tool.&nbsp;But there are a couple of experimental features of Copilot that come
                with the “Github Copilot Labs” extension that you may not know about that are very fascinating and
                useful. Let's have a quick look at them.</p>
            <p><br></p>
            <h2>How To Get It?</h2>
            <p>GitHub Copilot Labs is separate from but dependent on the GitHub Copilot extension and is currently
                available only for VS Code. You can download the Copilot Labs extension through the VS Code Marketplace,
                just like you would.</p>
            <p><br></p>
            <h1>The “Explain” Feature</h1>
            <p>Is there a block of code that you just can't fully grasp? Or some code in a language you don't know but
                need to understand? The Explain feature of Copilot is just what you need in such situations. Using this
                feature you can get natural language (English) explanations of any code snippet! To do so, highlight the
                block of code you want the explanation for, choose one of the options for the type of explanation from
                the dropdown menu, and then click “Ask Copilot” under the “explain” tab to get the explanation.</p>
            <p><br></p>
            <p><img src="https://miro.medium.com/v2/resize:fit:400/1*EJj5YSJYflcTUl7r77NiFw.gif" height="" width=""></p>
            <p><br></p>
            <p><br></p>
            <h1>The “Language Translation” Feature</h1>
            <p>Ever needed to translate your code from one coding language into another? You can do that very easily
                with the Language Translation feature of GitHub Copilot Labs. Just highlight the block of code you want
                to translate, select your desired language, and then click “Ask Copilot” under the “language
                translation” tab to get the translation.</p>
            <p><br></p>
            <p><img src="https://miro.medium.com/v2/resize:fit:400/1*OYbkUnhf-pU9Fq0BF5TcDw.gif" height="338"
                    width="600"></p>
        </article>

        <aside id="article-right">
            <div id="article-stats">
                <div id="article-stats-views">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="Views">
                        <path
                            d="M12 4.5a7.5 7.5 0 1 0 0 15 7.5 7.5 0 0 0 0-15zm0 1a6.5 6.5 0 1 1 0 13 6.5 6.5 0 0 1 0-13zm0 1a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11zm0 1a4.5 4.5 0 1 1 0 9 4.5 4.5 0 0 1 0-9zm0 1a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7zm0 1a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5zm0 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"
                            fill="currentColor"></path>
                    </svg>
                    <span> 1.2K </span>
                </div>
                <div id="article-stats-read-time">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="Read Time">
                        <path d="M12 4.5a7.5 7.5 0 1 0 0 15 7.5 7.5 0 0 0 0-15zm0 1a6.5 6.5 0 1 1 0 13 6.5 6.5 0 0 1
                            0-13zm0 1a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11zm0 1a4.5 4.5 0 1 1 0 9 4.5 4.5 0 0 1

                            0-9zm0 1a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7zm0 1a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1

                            0-5zm0 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" fill="currentColor"></path>
                    </svg>
                    <span> 5 min read </span>
                </div>
            </div>

            <div id="article-reactions">
                <div id="article-reactions-like">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="Like">
                        <path d="M12 4.5a7.5 7.5 0 1 0 0 15 7.5 7.5 0 0 0 0-15zm0 1a6.5 6.5 0 1 1 0 13 6.5 6.5 0 0 1
                            0-13zm0 1a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11zm0 1a4.5 4.5 0 1 1 0 9 4.5 4.5 0 0 1

                            0-9zm0 1a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7zm0 1a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1

                            0-5zm0 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" fill="currentColor"></path>
                    </svg>
                    <span> 1.2K </span>
                </div>
                <div id="article-reactions-dislike">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="Dislike">
                        <path d="M12 4.5a7.5 7.5 0 1 0 0 15 7.5 7.5 0 0 0 0-15zm0 1a6.5 6.5 0 1 1 0 13 6.5 6.5 0 0
                            1 0-13zm0 1a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11zm0 1a4.5 4.5 0 1 1 0 9 4.5 4.5 0 0

                            1 0-9zm0 1a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7zm0 1a2.5 2.5 0 1 1 0 5 2.5 2.5 0

                            0 1 0-5zm0 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" fill="currentColor"></path>
                    </svg>
                    <span> 1.2K </span>
                </div>
            </div>

            

        </aside>


    </main>

</body>

</html>