{% extends "tehreer/layout.html" %}
{% load static %}

{% block head %}
<script type="module" src="{% static 'tehreer/scripts/logged_in.js' %}"></script>


{% endblock %}


{% block main %}
<h1> All Articles </h1>
<p> Todo </p>

<div>
    {{ request.user }}
    {{ request.user.is_authenticated  }}
</div>

<div>
    {% for article in articles %}
        <div>
            <hr>
            Author: {{ article.author }}<br>
            Title: {{ article.title }}<br>
            Content: {{ article.content.html|safe }}<br>
            <hr>
        </div>
    {% endfor %}
</div>

<div class="loader">
    
</div>
{% endblock %}