.body {
    margin: 10px 30px;
    font-family: sans-serif;
}

.message {
    border: 2px solid slateblue;
    border-radius: 3px;
    background-color: rgba(106, 90, 205, 0.5);
    /* color: white; */
    margin: 10px 20px;
    padding: 5px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

#notifications {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.notification {
    border-radius: 3px;
    background-color: rgba(106, 90, 205, 0.2);
    margin-bottom: 10px;
    padding: 5px 30px;
    font-size: 0.9rem;
    animation-name: fadeout;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

#new-post {
    margin: 0 40px;
    padding: 10px;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
}


#new-post-form {
    margin: 0 50px;
}

#new-post-form.disabled {
    opacity: 0.5; 
    pointer-events: none;
}

.post {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 15px;
    margin: 10px;
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.post-header, .post-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

/* timestamp, username, likes */
.post-header {
    font-size: 0.85rem;
    align-items: flex-start;
}

/* timestamp and username */
.post-info { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 0.25em;
    border-bottom: 1px solid lightgray;
}

/* heart button and like count below */
.post-likes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* post contents and edit button */
.post-body {
    align-items: flex-end;
}

.post-content {
    white-space: pre-line;
}

.post-btns {
    font-size: 0.85rem;
}

.btn {
    background-color: slateblue;
    color: white;
}

.btn:hover {
    background-color: rgba(106, 90, 205, 0.8);
    color: white;
}
