.body {
    margin: 10px 30px;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(106, 90, 205, 0.2) !important;
    border-bottom: 1px solid lightgray;
}

.navbar-brand {
    font-size: 1.75rem;
    font-weight: bold;
    color: slateblue !important;
    font-family: 'Courier New', Courier, monospace;
}

.nav-link:hover {
    cursor: pointer;
}

.nav-link.active {
    color: slateblue !important;    
    border-bottom: 2px solid slateblue;
}

#page-title {
    font-weight: bold;
    color: slateblue;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.message {
    border: 2px solid slateblue;
    border-radius: 3px;
    background-color: rgba(106, 90, 205, 0.5);
    /* color: white; */
    margin: 10px 20px;
    padding: 5px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

#notifications {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.notification {
    border-radius: 3px;
    background-color: rgba(106, 90, 205, 0.2);
    margin-bottom: 10px;
    padding: 5px 30px;
    font-size: 0.9rem;
    animation-name: fadeout;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

#new-post {
    margin: 0 40px;
    padding: 10px;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
}


#new-post-form {
    margin: 0 50px;
}

#new-post-form.disabled {
    opacity: 0.5; 
    pointer-events: none;
}

.post {
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    animation-name: fadein;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    background-color: rgba(106, 90, 205, 0.1);
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.post-header, .post-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

/* timestamp, username, likes */
.post-header {
    font-size: 0.85rem;
    align-items: flex-start;
}

/* timestamp and username */
.post-info { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 0.25em;
    border-bottom: 1px solid lightgray;
}

.post-timestamp {
    color: rgb(100, 100, 100);
}

.post-username {
    color: slateblue;
    font-weight: bold;

}
.post-username:hover {
    cursor: pointer;
}

/* heart button and like count below */
.post-likes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* post contents and edit/delete buttons */
.post-body {
    align-items: flex-end;
}

.post-content {
    white-space: pre-line;
}

.post-btns {
    font-size: 0.85rem;
}

.post-btns button {
    border: none;
    border-radius: 3px;
    padding: 3px 10px;
    /* font-weight: lighter; */
    color: white;
    background-color: slateblue;
}

.post-btns button:hover {
    cursor: pointer;
}

.post-delete {
    background-color: rgb(240, 0, 0) !important;
}

.btn {
    background-color: slateblue;
    color: white;
}

.btn:hover {
    background-color: rgba(106, 90, 205, 0.8);
    color: white;
}

#profile {
    margin: 15px 10vw;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}


#profile-username {
    text-decoration: underline;
    color: slateblue;

}

/* followers and following counts */
#profile-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

#pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

#pagination button {
    border: none;
    background: none;
    color: slateblue;
    font-weight: bold;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

#pagination button:hover {
    cursor: pointer;
    background-color: rgba(106, 90, 205, 0.2);
}
